body {
    display:flex
    flex-direction: column;
}

/* Header Section*/

.header {
    display:flex;
    background-color: #1F2937;
<<<<<<< HEAD
    justify-content: center;
=======
    flex-direction: row;
    align-content: center;
>>>>>>> main
}

.header-left,
.header-right {
    display:flex;
<<<<<<< HEAD
    justify-content: space-between;
    border: thin solid green;
    align-items: center;
    margin-bottom: 20px;
=======
    flex-direction: column;
    align-content: center;
}

.header-left {
    margin-left: 300px;
}

.header-right {
    margin-right: 300px;
>>>>>>> main
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.center-header {
    border: thin solid yellow;
    padding: 20px;
}

.header-links {
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-sub-text,
.header-links{
    font-size: 18px;
    color:#e5e7eb;
}

.header-bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    border: thin solid red;
}

.header-bottom .maggie-header {
    flex: 1;
    padding: 10px;
}

.leftside {
    width: 400px;
    margin-right: 50px;
}

.sign-up-button {
    display: flex;
    background-color: #3882f6;
    width: 100px;
    padding: 5px 10px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 16px;
}

<<<<<<< HEAD
/*Header Section Ends */
=======
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-content-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-content-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}
>>>>>>> main
