body {
    display:flex
    flex-direction: column;
}

.header {
    display:flex;
    background-color: #1F2937;
    flex-direction: row;
    align-content: center;
}

.header-left,
.header-right {
    display:flex;
    flex-direction: column;
    align-content: center;
}

.header-left {
    margin-left: 300px;
}

.header-right {
    margin-right: 300px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-sub-text,
.header-links{
    font-size: 18px;
    color:#e5e7eb;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 16px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-content-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-content-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}