body {
    display:flex;
    flex-direction: column;
}
/* Header Section*/
.header {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
}

.center-header {
    padding-top: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-sub-text,
.header-links{
    font-size: 18px;
    color:#e5e7eb;
}

.header-bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}

.leftside {
    width: 400px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.maggie-header {
    margin-left: 25px;
}
.sign-up-button {
    display: flex;
    background-color: #3882f6;
    width: 100px;
    padding: 5px 10px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 5px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    gap: 16px;
    display: flex;
}
/*Header Section Ends */
/*Section-two begins */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800px;
    margin: 40px 0px;
}

.pictures {
    gap: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.corner {
    border-radius: 10px;
}

/*Section Three*/
.section-three {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 800px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.source {
    display: flex;
    flex-direction: row-reverse;
}